<div id="{{ ajax_divname }}"></div>

<script type='text/javascript'>

    function _replace_links_{{ ajax_divname }}(url, elements) {
        for (var x = 0; x < elements.length; x++) {
            var links = elements[x].getElementsByTagName('A');
            for (var y = 0; y < links.length; y++) {
                let new_querystring = links[y].getAttribute('href');
                links[y].onclick = function(e) {
                    e.preventDefault();
                    update_{{ ajax_divname }}(new_querystring, url);
                };
            }
        }
    };
    
    function update_{{ ajax_divname }}(querystring = '', url = "{{ ajax_tableurl }}") {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState == XMLHttpRequest.DONE ) {
                if (xhr.status == 200) {
                    var div = document.getElementById('{{ ajax_divname }}');

                    div.innerHTML = xhr.responseText;

                    _replace_links_{{ ajax_divname }}(url, div.getElementsByTagName('TH'));
                    _replace_links_{{ ajax_divname }}(url, div.getElementsByClassName('pagination'));
                }
            }
        };
        xhr.open('GET', url + querystring, true);
        xhr.send();
    }

    update_{{ ajax_divname }}('', "{{ ajax_tableurl }}");
</script>
